<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Sistema</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
</head>

<body x-data="{ show: false }" class="h-screen">
    <div class="flex h-full">
        <!-- MENU LATERAL -->
        <aside x-show="show" x-transition x-cloak class="w-72 h-full bg-white border-r shadow z-10 p-4">
            <h1 class="font-semibold text-2xl px-4 pt-3">Olá fulano</h1>
            <ul class="mt-2">
                <li class="block px-6 py-4"><a href="/">Ver funcionarios</a></li>
                <li class="block px-6 py-4"><a href="#">Ver Notas fiscais</a></li>
                <li class="block px-6 py-4"><a href="#">Ver Fornecedores</a></li>
                <li class="block px-6 py-4"><a href="#">Sair</a></li>
            </ul>
        </aside>

        <!-- CONTEÚDO PRINCIPAL -->
        <div class="flex-1 transition-all duration-300 ease-in-out">
            <!-- HEADER -->
            <header class="flex justify-between items-center px-8 py-4 bg-slate-900 text-white">
                <a href="/home">
                    <h1 class="text-lg font-bold">Home</h1>
                </a>
                <button @click="show = !show" @click.outside="show = false">
                    <template x-if="!show">
                        <img src="/static/icons/menu.svg" alt="Menu" />
                    </template>
                    <template x-if="show">
                        <img src="/static/icons/close.svg" alt="Fechar" />
                    </template>
                </button>
            </header>

            <!-- MAIN -->
            <main class="p-4 bg-gray-100 h-[calc(100%-64px)] overflow-auto">
                <div class="w-full flex justify-between items-center mb-4">
                    <h1 class="text-3xl font-semibold">Funcionários</h1>

                    <!-- BARRA DE BUSCA E FILTRO -->
                    <form method="post" class="w-1/2 flex md:flex-row justify-end items-center gap-4">
                        <!-- Campo de busca -->
                        <input type="text" placeholder="Buscar patrimonio..."
                            class="md:w-1/2 px-4 py-2 border-2 border-slate-900 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-slate-500">

                        <!-- Filtro -->
                        <select
                            class="md:w-1/4 px-4 py-2 bg-white border-2 border-slate-900 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-slate-500">
                            <option value="">Filtrar por</option>
                            <option value="produto">Produto</option>
                            <option value="preco">Preço</option>
                        </select>
                    </form>

                    <a href="/formulario_patrimonios"
                        class="fixed bottom-0 right-0 m-2 p-2 bg-slate-900 text-white font-semibold rounded-md hover:bg-slate-800 transition">
                        <img src="{{ url_for('static', filename='icons/add.svg') }}" alt="Adicionar funcionário">
                    </a>
                </div>

                <table
                    class="w-full table-auto md:table-fixed border border-gray-300 shadow-lg rounded-lg overflow-hidden">
                    <thead>
                        <tr class="bg-slate-950 text-white">
                            <th class="px-6 py-3 text-left">ID</th>
                            <th class="px-6 py-3 text-left">Produto</th>
                            <th class="px-6 py-3 text-left">N° Serie</th>
                            <th class="px-6 py-3 text-left">Valor</th>
                            <th class="px-6 py-3 text-left">Fabricante</th>
                            <th class="px-6 py-3 text-left">Controle</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <tr class="bg-white hover:bg-blue-50">
                            <td class="px-6 py-4">-</td>
                            <td class="px-6 py-4">-</td>
                            <td class="px-6 py-4">-</td>
                            <td class="px-6 py-4">-</td>
                            <td class="px-6 py-4">-</td>
                            <td class="px-6 py-4 flex gap-4">
                                <button class="p-2 bg-red-600 text-white rounded-md hover:bg-red-500 transition">
                                    <img src="{{ url_for('static', filename='icons/remove.svg') }}" alt="Remover">
                                </button>

                                <button class="p-2 bg-slate-900 text-white rounded-md hover:bg-slate-800 transition">
                                    <img src="{{ url_for('static', filename='icons/edit.svg') }}" alt="Editar">
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </div>
    </div>

    <!-- Alpinejs Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</body>

</html>